<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ subject }}</title>
</head>
<body>
    <p>Hello {{ name }},</p>
    <p>This is an example email.</p>
    <p>{{{ body }}}</p>
    <hr>
    <p>If you have any questions, please contact us at <a href="mailto:{{ supportEmail }}">{{ supportEmail }}</a>.</p>
    <p>Best regards,<br>{{ emailSenderName }}</p>
    <p><a href="{{ marketingURL }}">Visit our website</a></p>
</body>
</html>
